/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin de reset */

 body {
	 width: 100%;
  align-items: stretch;
  height: 100%;
  margin: 0;
}
.navigation{
	position: absolute;
}

.togg-menu{
	height: 30px;
	width: 30px;
	position: relative;
	float: right;
	margin-right: 10px;
	margin-left: 5px;
	cursor: pointer;

}
.togg-menu span{
	height: 3px;
	background-color: blue;
	width: 100%;
	position: absolute;
	top: 20px;
	left: 0;

}
.togg-menu span:before {
	content:'';
	height: 3px;
	background-color: black;
	width: 100%;
	position: absolute;
	top: -10px;
	left: 0;

}
.togg-menu span:after {
	content:'';
	height: 3px;
	background-color: black;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;

}

/* .menu.ferme {
  background-color: #b85a0d;
} */

.menu.ferme {
  display: none;
}
.menu a{
	color: black;
	font-family: sans-serif;
  text-align: center;
	display: block;
	padding-top: 30px;
}

/********* navbar********** */
.navbar-brand img{
	max-height: 25px;
}

.navbar{
	width: 	100%!important;
	/* height: 40px!important; */
}
.bg-light {
    background-color: #b4cce4!important;
}

 .row.un {
	min-height: 70vh;
	background-image: url("image/compter.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	color: #ffffff;
	font-size: 20px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.form{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 80vh;
	display: flex;
	align-items: center;

}
h1{
	font-family: 'Montserrat', sans-serif;
}
h2{
	font-family: 'Dancing Script', cursive;
	margin-bottom: 50px;
}
.slogan{
	display: flex;
	min-height: 70vh;
	align-items: flex-end;
	justify-content: center;
}
.slogann{
	color: #23a049;
	font-size: 2.5rem;
	 height: 87vh;
	 flex-wrap: wrap!important;
  align-items: flex-end;
	justify-content: center;
}
.solo{
	font-family: 'Dancing Script', cursive, 25px;
	margin-bottom: 50px;
	font-size: 2.5rem;
	text-align: center;
}

.theme-jour {
  background-color: white;
  color: black;

}

.theme-nuit {
  background-color: black;
  color: white;
}
.hotte{
	background: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg");
	/* background-size: cover; */
	height: 500px;
	width: 100%;

}
/* les raison presentation page index */
#presentation .media span{
	color: #ccbd0f;
	font-size: 3em;

}
h5{
	font-size: 1.5em;
}
/* ***********************Avis index*********************************  */
.fondbureau{
	min-height: calc(100vh - 50vh );
	background-image: url("image/equipedev.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.avisclient{
	min-height: 		calc(100vh - 50vh );
	color: 						black;
	background-color: #d3dae4;
}

.avisclient span{
	font-size: 3em;
	color: #301a86;
}
.avisclient h5{
	font-size: 2em;
	color: #1057bd;
}
.formulaireindex{
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-pink-fresh-cute-background-image_258259.jpg);

}
/* ***********************Formulaire de contact*********************************  */
#contact-ind{
	min-height: calc(100vh - 50vh );
	background-image: url("image/contact.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#contact-ind .row{
min-height: calc(100vh - 50vh );
}
.formcontact{
background-color: rgba(255, 255, 255, 0.7);
padding: 2rem 1rem;
}
/* les raison presentation page index */
#presentation-ind .media span{
	color: blue;
	font-size: 3em;

}
/* ***********************Formulaire de contact page index*********************************  */
footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: #9999;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}
footer a{
	color: #9999;
	font-size: 2rem;
	transition: all .2s ease-in-out;
}
footer a:hover{
	color: #fff;
	text-decoration: none;
}

/* les raison presentation page espace professionnel */
#presentation-pro .media span{
	color: #0fcc1d;
	font-size: 3em;

}
/* ***********************Formulaire de contact espase pro*********************************  */
#contact-pro{
	min-height: calc(100vh - 50vh );
	background-image: url("image/contactt.jpg")!important;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/* ***********************Formulaire des avis espase pro*********************************  */
.avis-pro{
	min-height: calc(100vh - 50vh );
	background-image: url("image/avis.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/* ***********************PAGE Communauté*********************************  */
.disp{
	display: flex;
	 justify-content: space-between;
}
.head{
	text-decoration: underline;
	text-shadow: 10pm;
	font-size: 7vh;
	text-align: center;
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.our-webcoderskull{
  background: url("https://cdn.pixabay.com/photo/2016/12/18/02/39/paper-1914906_1280.jpg") no-repeat center top / cover;)

}
.our-webcoderskull .cnt-block{
   float:left;
   width:100%;
   background:#fff;
   padding:30px 20px;
   text-align:center;
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px;
   height:148px;
   border-radius:100%;
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
   width:148px;
   height:148px;
   border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
   color:#2a2a2a;
   font-size:20px;
   font-weight:500;
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{
   color:#2a2a2a;
   font-size:13px;
   line-height:20px;
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.form-inline{
display: flex;
justify-content: center;


}
.our-webcoderskull .cnt-block .follow-us li{
  display: inline-block;
	width: auto;
	margin : 0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
   font-size:24px;
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
   color:#025a8e;
}
.footer{
	text-align:  center;
	font-size: 1.2em;
	color: #fff;
}
/* formulaire de contact 3 destinataire */
#contact-co{
	font-size: 1.2em;
	background: url(https://i.pinimg.com/originals/c9/aa/2f/c9aa2f563b16534c51a6ab8df69f4900.png);
.formulaire{
	text-align: center;
	font-size: 1.6em;
}
.btncv{
	   width: 10px;
	   height: 20px;
		 font-size: 5px;
	}


	@import url("http://fonts.googleapis.com/css?family=Oswald:500,600,700 Roboto");
	.faq-im {
		margin: 0;
		background-size: cover;
		font-family: 'Roboto' , sans-serif;
	}
	.containerr {
		max-width: 60%;
		margin: 0 auto;
		padding: 70px 0 20px;
		width: 100%;
	}
	.acc h3 {
		font-size: 25px;
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
		padding: 15px;
		margin: 0;
		cursor: pointer;
		font-family: 'Oswald' sans-serif;
		letter-spacing: 2px;
		position: relative;

	}
	.acc h3:after{
		content: '+';
		position: absolute;
		right: 20px;
		font-size: 40px;
		top: 50%;
		transform: translateY(-50%);
	}
	.acc.active h3:after{
	  content: '-';
	}

	.content{
	  background-color: #fff;
	  display: none;
	}
	.content-inner{
	  padding: 15px;
	}
